
@{
    ViewBag.Title = "verify_fail";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div>&nbsp;</div>

<div class="text-center">
    <h2>Customer Verification</h2>
    <h4>Your account was already verified, or the verification code is invalid.</h4>
</div>

<div>&nbsp;</div>