
@{
    ViewBag.Title = "verify_success";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div>&nbsp;</div>

<div class="text-center">
    <h2>Customer Verification</h2>
    <h4>Congratulations! Your account has been verified.</h4>
    <p><a href="@Url.Action("Index","LoginCustomer")">Login Now</a></p>
</div>

<div>&nbsp;</div>